<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZwPErV9QGPNWm3skXtNhGeYkisLa4OIw</string>
	<key>GCM_SENDER_ID</key>
	<string>470750631367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gr.pkerasidis.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>iosauth-d09df</string>
	<key>STORAGE_BUCKET</key>
	<string>iosauth-d09df.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:470750631367:ios:bef3a6ec18b054694ff5e2</string>
</dict>
</plist>